<div class="signup container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form class="form">
        <h2 class="form-signin-heading">Change Password</h2>
        <div class="form-group">
          <label>Old Password*</label>
          <input type="password" class="form-control" placeholder="Old Password">
        </div>
        <div class="form-group">
          <label>New Password*</label>
          <input type="password" class="form-control" placeholder="New Password">
        </div>
        <div class="form-group">
          <label>Confirm Password*</label>
          <input type="password" class="form-control" placeholder="Confirm Password">
        </div>
        <p class="help-block">Fields with <b>*</b> are required.</p>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Update profile</button>
      </form>
    </div>
  </div>

</div>