<div class="signup container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form class="form">
        <h2 class="form-signin-heading">Update Profile</h2>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label>Email Address*</label>
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <label>Profile Picture</label>
          <input type="file" placeholder="Select image">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> I am a store owner
          </label>
        </div>
        <p class="help-block">Fields with <b>*</b> are required.</p>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Update profile</button>
      </form>
    </div>
  </div>

</div>