<div class="signup container">
  <div class="row form-wrapper">
    <div class="col-md-4 col-md-offset-4">
      <form class="form">
        <h2>Edit your Store</h2>
        <%= render :partial => 'form' %>
      </form>
    </div>
  </div>
</div>