<div id="shop-div">
  <div class="upload-qr-group">
    <div class="upload-qr">
      <%= file_field_tag :image, type: :file, id: 'pictureInput' %><br>
    </div>
    <div class="qr-img-class">
    </div>
  </div>

  <div id="product-div">
  </div>

  <div id="stores-div">
    <ul id="stores-ul">
    </ul>
  </div>

</div>