<div class="signup container product-form">
  <div class="row form-wrapper">
    <form class="form">
      <div class = "col-md-8 col-md-offset-2">
        <h2>Edit a product</h2></div>
        <%= render :partial => 'form' %>
    </form>
  </div>
</div>
