<span class="glyphicon glyphicon-remove"></span>
<small class="text-muted">A product was deleted at <%= activity.created_at.strftime('%-I:%M %p') %>
  on <%= activity.created_at.strftime('%-d %B %Y') %></small><br/>
