/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require awesomplete
 *= require token-input-facebook
 *= require_tree .
 *= require_self
 *= stub custom
 *= stub scaffolds
 *= stub stores
 *= require font-awesome
 *= require bootcards-desktop
 */

div.awesomplete > ul > li:hover {
    /*background: hsl(200, 40%, 80%);*/
    background: #f1cdcc;
    color: black;
}

div.awesomplete > ul > li[aria-selected="true"] {
    /*background: hsl(205, 40%, 40%);*/
    background: #b90504;
    color: white;
}

div.awesomplete mark {
    /*background: hsl(65, 100%, 50%);*/
    background: #999;
}

div.awesomplete li:hover mark {
    /*background: hsl(68, 100%, 41%);*/
    background:  #ccf0f1;
}

div.awesomplete li[aria-selected="true"] mark {
    /*background: hsl(86, 100%, 21%);*/
    background: #333333;
    color: inherit;
}