@media (max-width: 768px) {
  .portfolio-filter li {
    margin-bottom: 8px;
  }

  .portfolio-4 .portfolio-item {
    width: 100%!important;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }
}